site_name: Mirage
site_url: https://rfernr08.github.io/Mirage/
site_description: Documentación y recursos sobre estudios psiquiátricos y neurociencia.
nav:
  - Inicio: index.md
  - Estudios Psiquiátricos:
      - Introducción: docs/introduccion.md
      - Métodos de Evaluación: docs/estudios/metodos_evaluacion.md
      - Tipos de Estudios: docs/estudios/tipos_estudios.md
      - Análisis de Datos: docs/estudios/analisis_datos.md
  - Recursos:
      - Herramientas y Software: docs/recursos/herramientas_software.md
      - Bases de Datos: docs/recursos/bases_datos.md
      - Lecturas Recomendadas: docs/recursos/lecturas_recomendadas.md
  - Acerca de: docs/acerca_de.md
  - Contacto: docs/contacto.md

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - toc.integrate
    - search.highlight
    - search.suggest
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
  language: es
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Modo oscuro
      primary: teal
      accent: purple
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Modo claro
      primary: teal
      accent: lime

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/rfernr08/Estudio-Psiquiatricos

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list



copyright: |
  &copy; 2025 <a href="https://rfernr08.github.io/">Raúl Fernández</a>. Todos los derechos reservados.

